<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d7feb691b8804bb2aaed73cd4d6c77f5" style="width:1000px; height:600px;"></div>
    <script>
        var chart_d7feb691b8804bb2aaed73cd4d6c77f5 = echarts.init(
            document.getElementById('d7feb691b8804bb2aaed73cd4d6c77f5'), 'white', {renderer: 'canvas'});
        var option_d7feb691b8804bb2aaed73cd4d6c77f5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "sunburst",
            "data": [
                {
                    "name": "\u4e91\u9876\u4e66\u9662",
                    "target": "blank",
                    "children": [
                        {
                            "value": 74,
                            "name": "\u673a\u68b0\u4e0e\u8fd0\u8f7d\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(153,202,109)"
                            },
                            "children": [
                                {
                                    "value": 19,
                                    "name": "\u5de5\u7a0b\u529b\u5b66",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(73,68,15)"
                                    }
                                },
                                {
                                    "value": 5,
                                    "name": "\u673a\u68b0\u8bbe\u8ba1\u5236\u9020\u53ca\u5176\u81ea\u52a8\u5316",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(140,65,33)"
                                    }
                                },
                                {
                                    "value": 11,
                                    "name": "\u673a\u68b0\u7535\u5b50\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(235,49,130)"
                                    }
                                },
                                {
                                    "value": 14,
                                    "name": "\u673a\u68b0\u7535\u5b50\u5de5\u7a0b\uff08\u98de\u673a\u673a\u7535\u7cfb\u7edf\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(77,37,155)"
                                    }
                                },
                                {
                                    "value": 14,
                                    "name": "\u673a\u68b0\u7535\u5b50\u5de5\u7a0b\uff08\u5b9e\u9a8c\u73ed\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(72,40,74)"
                                    }
                                },
                                {
                                    "value": 11,
                                    "name": "\u8f66\u8f86\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(6,201,236)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 86,
                            "name": "\u6750\u6599\u79d1\u5b66\u4e0e\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(113,26,158)"
                            },
                            "children": [
                                {
                                    "value": 17,
                                    "name": "\u6750\u6599\u6210\u578b\u53ca\u63a7\u5236\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(117,110,55)"
                                    }
                                },
                                {
                                    "value": 17,
                                    "name": "\u6750\u6599\u79d1\u5b66\u4e0e\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(114,102,1)"
                                    }
                                },
                                {
                                    "value": 18,
                                    "name": "\u6750\u6599\u79d1\u5b66\u4e0e\u5de5\u7a0b\uff08\u5148\u8fdb\u822a\u7a7a\u6750\u6599\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(124,6,55)"
                                    }
                                },
                                {
                                    "value": 15,
                                    "name": "\u51b6\u91d1\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(243,8,68)"
                                    }
                                },
                                {
                                    "value": 19,
                                    "name": "\u91d1\u5c5e\u6750\u6599\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(1,59,113)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 73,
                            "name": "\u7535\u6c14\u4e0e\u52a8\u529b\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(39,197,7)"
                            },
                            "children": [
                                {
                                    "value": 19,
                                    "name": "\u81ea\u52a8\u5316",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(222,232,12)"
                                    }
                                },
                                {
                                    "value": 18,
                                    "name": "\u80fd\u6e90\u4e0e\u52a8\u529b\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(110,245,37)"
                                    }
                                },
                                {
                                    "value": 20,
                                    "name": "\u7535\u6c14\u5de5\u7a0b\u53ca\u5176\u81ea\u52a8\u5316",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(3,221,112)"
                                    }
                                },
                                {
                                    "value": 16,
                                    "name": "\u7535\u6c14\u5de5\u7a0b\u53ca\u5176\u81ea\u52a8\u5316\uff08\u5b9e\u9a8c\u73ed\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(113,91,36)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 62,
                            "name": "\u4fe1\u606f\u4e0e\u8ba1\u7b97\u673a\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(251,108,85)"
                            },
                            "children": [
                                {
                                    "value": 5,
                                    "name": "\u4fe1\u606f\u5b89\u5168",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(112,208,137)"
                                    }
                                },
                                {
                                    "value": 5,
                                    "name": "\u8ba1\u7b97\u673a\u79d1\u5b66\u4e0e\u6280\u672f",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(87,249,86)"
                                    }
                                },
                                {
                                    "value": 12,
                                    "name": "\u6d4b\u63a7\u6280\u672f\u4e0e\u4eea\u5668",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(130,131,210)"
                                    }
                                },
                                {
                                    "value": 11,
                                    "name": "\u7535\u5b50\u4fe1\u606f\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(248,147,130)"
                                    }
                                },
                                {
                                    "value": 15,
                                    "name": "\u7535\u5b50\u79d1\u5b66\u4e0e\u6280\u672f",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(37,155,200)"
                                    }
                                },
                                {
                                    "value": 14,
                                    "name": "\u901a\u4fe1\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(1,220,111)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 86,
                            "name": "\u571f\u6728\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(204,168,178)"
                            },
                            "children": [
                                {
                                    "value": 38,
                                    "name": "\u571f\u6728\u5de5\u7a0b\uff08\u8bd5\u9a8c\u73ed\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(33,212,115)"
                                    }
                                },
                                {
                                    "value": 26,
                                    "name": "\u571f\u6728\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(8,124,19)"
                                    }
                                },
                                {
                                    "value": 22,
                                    "name": "\u9053\u8def\u6865\u6881\u4e0e\u6e21\u6cb3\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(48,81,173)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 66,
                            "name": "\u73af\u5883\u79d1\u5b66\u4e0e\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(42,41,21)"
                            },
                            "children": [
                                {
                                    "value": 25,
                                    "name": "\u5efa\u7b51\u73af\u5883\u4e0e\u80fd\u6e90\u5e94\u7528\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(122,78,55)"
                                    }
                                },
                                {
                                    "value": 27,
                                    "name": "\u73af\u5883\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(229,122,193)"
                                    }
                                },
                                {
                                    "value": 14,
                                    "name": "\u7ed9\u6392\u6c34\u79d1\u5b66\u4e0e\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(187,34,201)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 70,
                            "name": "\u6c34\u5229\u79d1\u5b66\u4e0e\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(123,207,248)"
                            },
                            "children": [
                                {
                                    "value": 29,
                                    "name": "\u6c34\u6587\u4e0e\u6c34\u8d44\u6e90\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(43,86,243)"
                                    }
                                },
                                {
                                    "value": 20,
                                    "name": "\u6c34\u5229\u6c34\u7535\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(248,129,184)"
                                    }
                                },
                                {
                                    "value": 21,
                                    "name": "\u519c\u4e1a\u6c34\u5229\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(17,33,90)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 96,
                            "name": "\u5316\u5b66\u5316\u5de5\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(92,42,217)"
                            },
                            "children": [
                                {
                                    "value": 25,
                                    "name": "\u7cbe\u7ec6\u5316\u5de5",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(102,18,68)"
                                    }
                                },
                                {
                                    "value": 16,
                                    "name": "\u5316\u5b66\u5de5\u7a0b\u4e0e\u5de5\u827a\uff08\u8bd5\u9a8c\u73ed\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(213,98,48)"
                                    }
                                },
                                {
                                    "value": 22,
                                    "name": "\u5316\u5b66\u5de5\u7a0b\u4e0e\u5de5\u827a",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(205,5,235)"
                                    }
                                },
                                {
                                    "value": 11,
                                    "name": "\u5e94\u7528\u5316\u5b66",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(95,62,62)"
                                    }
                                },
                                {
                                    "value": 22,
                                    "name": "\u8fc7\u7a0b\u88c5\u5907\u4e0e\u63a7\u5236\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(116,182,212)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 68,
                            "name": "\u77ff\u4e1a\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(196,12,66)"
                            },
                            "children": [
                                {
                                    "value": 7,
                                    "name": "\u8d44\u6e90\u52d8\u67e5\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(244,153,251)"
                                    }
                                },
                                {
                                    "value": 6,
                                    "name": "\u77ff\u7269\u52a0\u5de5\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(49,205,35)"
                                    }
                                },
                                {
                                    "value": 13,
                                    "name": "\u5730\u8d28\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(126,116,25)"
                                    }
                                },
                                {
                                    "value": 11,
                                    "name": "\u57ce\u5e02\u5730\u4e0b\u7a7a\u95f4\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(135,98,114)"
                                    }
                                },
                                {
                                    "value": 8,
                                    "name": "\u6d4b\u7ed8\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(72,242,203)"
                                    }
                                },
                                {
                                    "value": 8,
                                    "name": "\u91c7\u77ff\u5de5\u7a0b\uff08\u8bd5\u9a8c\u73ed\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(62,33,166)"
                                    }
                                },
                                {
                                    "value": 15,
                                    "name": "\u91c7\u77ff\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(127,173,193)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 75,
                            "name": "\u7ecf\u6d4e\u7ba1\u7406\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(165,27,53)"
                            },
                            "children": [
                                {
                                    "value": 11,
                                    "name": "\u7269\u6d41\u7ba1\u7406(\u822a\u7a7a\u7269\u6d41)",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(180,221,167)"
                                    }
                                },
                                {
                                    "value": 9,
                                    "name": "\u7269\u6d41\u7ba1\u7406",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(63,85,28)"
                                    }
                                },
                                {
                                    "value": 17,
                                    "name": "\u4f1a\u8ba1\u5b66",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(153,43,151)"
                                    }
                                },
                                {
                                    "value": 18,
                                    "name": "\u5de5\u7a0b\u7ba1\u7406",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(103,204,239)"
                                    }
                                },
                                {
                                    "value": 8,
                                    "name": "\u56fd\u9645\u7ecf\u6d4e\u4e0e\u8d38\u6613\uff08\u6587\u53f2\u7c7b\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(26,59,212)"
                                    }
                                },
                                {
                                    "value": 17,
                                    "name": "\u4f1a\u8ba1\u5b66",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(167,247,28)"
                                    }
                                },
                                {
                                    "value": 18,
                                    "name": "\u5de5\u7a0b\u7ba1\u7406",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(134,25,168)"
                                    }
                                },
                                {
                                    "value": 7,
                                    "name": "\u56fd\u9645\u7ecf\u6d4e\u4e0e\u8d38\u6613\uff08\u7406\u5de5\u7c7b\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(249,78,153)"
                                    }
                                },
                                {
                                    "value": 5,
                                    "name": "\u7edf\u8ba1\u5b66",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(8,249,170)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 76,
                            "name": "\u653f\u6cd5\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(1,168,62)"
                            },
                            "children": [
                                {
                                    "value": 29,
                                    "name": "\u6cd5\u5b66\uff08\u6587\u53f2\u7c7b\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(153,86,226)"
                                    }
                                },
                                {
                                    "value": 23,
                                    "name": "\u884c\u653f\u7ba1\u7406",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(140,93,151)"
                                    }
                                },
                                {
                                    "value": 24,
                                    "name": "\u6cd5\u5b66\uff08\u7406\u5de5\u7c7b\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(85,53,49)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 83,
                            "name": "\u5916\u56fd\u8bed\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(232,200,15)"
                            },
                            "children": [
                                {
                                    "value": 30,
                                    "name": "\u82f1\u8bed\uff08\u6587\u53f2\u7c7b\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(251,247,230)"
                                    }
                                },
                                {
                                    "value": 15,
                                    "name": "\u82f1\u8bed\uff08\u82f1\u4fc4\u53cc\u8bed\u65b9\u5411\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(233,138,29)"
                                    }
                                },
                                {
                                    "value": 19,
                                    "name": "\u82f1\u8bed\uff08\u82f1\u65e5\u53cc\u8bed\u65b9\u5411\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(13,1,172)"
                                    }
                                },
                                {
                                    "value": 30,
                                    "name": "\u82f1\u8bed\uff08\u6587\u53f2\u7c7b\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(37,221,2)"
                                    }
                                },
                                {
                                    "value": 13,
                                    "name": "\u82f1\u8bed\uff08\u82f1\u4fc4\u53cc\u8bed\u65b9\u5411\uff09\u7406\u5de5\u7c7b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(198,188,248)"
                                    }
                                },
                                {
                                    "value": 6,
                                    "name": "\u82f1\u8bed\uff08\u82f1\u65e5\u53cc\u8bed\u65b9\u5411\uff09\u7406\u5de5\u7c7b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(133,85,151)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 70,
                            "name": "\u9a6c\u514b\u601d\u4e3b\u4e49\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(78,130,91)"
                            },
                            "children": [
                                {
                                    "value": 70,
                                    "name": "\u601d\u60f3\u653f\u6cbb\u6559\u80b2",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(165,242,137)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 82,
                            "name": "\u4f53\u80b2\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(195,173,104)"
                            },
                            "children": [
                                {
                                    "value": 39,
                                    "name": "\u4f53\u80b2\u6559\u80b2\uff08\u8d5b\u9a6c\u65b9\u5411\uff09",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(24,95,161)"
                                    }
                                },
                                {
                                    "value": 43,
                                    "name": "\u4f53\u80b2\u6559\u80b2",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(45,45,157)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 65,
                            "name": "\u6570\u5b66\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(122,222,27)"
                            },
                            "children": [
                                {
                                    "value": 38,
                                    "name": "\u6570\u5b66\u4e0e\u5e94\u7528\u6570\u5b66",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(244,181,237)"
                                    }
                                },
                                {
                                    "value": 27,
                                    "name": "\u4fe1\u606f\u4e0e\u8ba1\u7b97\u79d1\u5b66",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(193,174,30)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 89,
                            "name": "\u8f7b\u7eba\u5de5\u7a0b\u4e0e\u7f8e\u672f\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(234,34,72)"
                            },
                            "children": [
                                {
                                    "value": 26,
                                    "name": "\u6570\u5b57\u5a92\u4f53\u827a\u672f",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(193,17,35)"
                                    }
                                },
                                {
                                    "value": 23,
                                    "name": "\u89c6\u89c9\u4f20\u8fbe\u8bbe\u8ba1",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(195,178,235)"
                                    }
                                },
                                {
                                    "value": 20,
                                    "name": "\u7ed8\u753b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(88,63,129)"
                                    }
                                },
                                {
                                    "value": 20,
                                    "name": "\u73af\u5883\u8bbe\u8ba1",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(161,227,67)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 63,
                            "name": "\u8f6f\u4ef6\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(140,132,21)"
                            },
                            "children": [
                                {
                                    "value": 63,
                                    "name": "\u8f6f\u4ef6\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(132,90,104)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 78,
                            "name": "\u56fd\u9645\u6559\u80b2\u4ea4\u6d41\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(222,103,189)"
                            },
                            "children": [
                                {
                                    "value": 78,
                                    "name": "\u6c49\u8bed\u56fd\u9645\u6559\u80b2",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(113,112,179)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 157,
                            "name": "\u7269\u7406\u4e0e\u5149\u7535\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(19,245,39)"
                            },
                            "children": [
                                {
                                    "value": 55,
                                    "name": "\u5149\u7535\u4fe1\u606f\u79d1\u5b66\u4e0e\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(229,139,127)"
                                    }
                                },
                                {
                                    "value": 45,
                                    "name": "\u5e94\u7528\u7269\u7406\u5b66",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(39,174,174)"
                                    }
                                },
                                {
                                    "value": 57,
                                    "name": "\u5149\u6e90\u4e0e\u7167\u660e",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(91,192,218)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 0,
                            "name": "\u529b\u5b66\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(143,46,41)"
                            },
                            "children": []
                        },
                        {
                            "value": 97,
                            "name": "\u8f7b\u7eba\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(64,25,138)"
                            },
                            "children": [
                                {
                                    "value": 47,
                                    "name": "\u670d\u88c5\u4e0e\u670d\u9970\u8bbe\u8ba1",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(229,155,16)"
                                    }
                                },
                                {
                                    "value": 50,
                                    "name": "\u7eba\u7ec7\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(211,58,130)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 87,
                            "name": "\u827a\u672f\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(195,67,223)"
                            },
                            "children": [
                                {
                                    "value": 45,
                                    "name": "\u5de5\u827a\u7f8e\u672f",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(77,136,119)"
                                    }
                                },
                                {
                                    "value": 42,
                                    "name": "\u6587\u7269\u4fdd\u62a4\u6280\u672f",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(0,171,25)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 86,
                            "name": "\u5927\u6570\u636e\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(224,81,120)"
                            },
                            "children": [
                                {
                                    "value": 86,
                                    "name": "\u6570\u636e\u79d1\u5b66\u4e0e\u5927\u6570\u636e\u6280\u672f",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(115,28,132)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 68,
                            "name": "\u751f\u7269\u533b\u5b66\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(50,155,241)"
                            },
                            "children": [
                                {
                                    "value": 40,
                                    "name": "\u5236\u836f\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(83,121,71)"
                                    }
                                },
                                {
                                    "value": 28,
                                    "name": "\u751f\u7269\u533b\u5b66\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(231,225,112)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 74,
                            "name": "\u5b89\u5168\u4e0e\u5e94\u6025\u7ba1\u7406\u5de5\u7a0b\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(75,13,105)"
                            },
                            "children": [
                                {
                                    "value": 74,
                                    "name": "\u5e94\u6025\u6280\u672f\u4e0e\u7ba1\u7406",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(125,181,151)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 74,
                            "name": "\u5efa\u7b51\u5b66\u9662",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(60,30,235)"
                            },
                            "children": [
                                {
                                    "value": 14,
                                    "name": "\u5efa\u7b51\u5b66",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(64,29,139)"
                                    }
                                },
                                {
                                    "value": 24,
                                    "name": "\u57ce\u4e61\u89c4\u5212",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(157,26,126)"
                                    }
                                },
                                {
                                    "value": 23,
                                    "name": "\u5b89\u5168\u5de5\u7a0b",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(67,7,166)"
                                    }
                                },
                                {
                                    "value": 13,
                                    "name": "\u5de5\u4e1a\u8bbe\u8ba1",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(122,45,53)"
                                    }
                                }
                            ]
                        }
                    ]
                }
            ],
            "center": [
                "50%",
                "50%"
            ],
            "radius": [
                0,
                "90%"
            ],
            "highlightPolicy": "descendant",
            "nodeClick": "rootToNode",
            "sort": "desc",
            "levels": [
                {},
                {
                    "r0": "15%",
                    "r": "35%",
                    "itemStyle": {
                        "borderWidth": 2
                    },
                    "label": {
                        "rotate": "tangential"
                    }
                },
                {
                    "r0": "35%",
                    "r": "70%",
                    "label": {
                        "align": "right"
                    }
                },
                {
                    "r0": "70%",
                    "r": "72%",
                    "label": {
                        "position": "outside",
                        "padding": 3,
                        "silent": false
                    },
                    "itemStyle": {
                        "borderWidth": 3
                    }
                }
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5b66\u9662\u4e13\u4e1a"
        }
    ]
};
        chart_d7feb691b8804bb2aaed73cd4d6c77f5.setOption(option_d7feb691b8804bb2aaed73cd4d6c77f5);
    </script>
</body>
</html>
